.MainProcsent {
  padding: 5px;
}
.MainProcsentSec {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.titlePcs {
  font-size: 17px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  margin-left: auto;
  overflow: hidden;
}
.redeyTextAreaLight {
  background-color:#e7e7de;
  color: #353027;
}
.redeyTextAreaDark {
  background-color:rgb(22, 37, 51);
  color: #d3d3d2;
}
.inforedeyTextArea {
  padding: 10px;
  width: 30%;
  max-width: 6px;
  background-color: #353027a4;
  font-size: 14px;
}
.inforedeyTextAreaDr {
  padding: 10px;
  width: 30%;
  max-width: 6px;
  background-color: rgba(6, 51, 94, 0.863);
  font-size: 14px;
}
.titleTextArea {
  padding: 10px;
}
.titleTextArea a{
  font-size: 13px;
}
.redeyTextAreaK{
  background-color:#bbd2d8dc;
  color: #2b2e2e;
}
.redeyTextAreaKDr {
  background-color: rgb(22, 37, 51);
  color: whitesmoke;
}
.redeyTextAreaKDr a , .redeyTextAreaDark a{
  color: rgb(128, 155, 236);
}
.icInfredeyTextArea {
  color: #d4d4d4;
}
.InfredeyTextAreaK {
  padding: 10px;
  width: 30%;
  max-width: 6px;
  background-color: #1687a7;
  color: #dadbdb;
  font-size: 14px;
}
.areaPcP:focus {
  outline: none;
}
.areaPlus{
  font-size: 18px;
  overflow: hidden;
  width: max-content;
  max-width: 100%;
  word-wrap: break-word; 
}
.texArLi {
  color: #383838;
}
.areaPlus div{
  height: 100%;
  width: max-content;
  max-width: 100%;
}
.toolsMenuAreaPcs {
  border: 0;
  border-bottom: 1px solid rgba(204, 202, 202, 0.356);
  padding: 2px 0 8px 0;
  display: flex;
  justify-content: space-between
}
.toolsBottomAreaPcs {
  border: 0;
  border-top: 1px solid rgba(204, 202, 202, 0.356);
  background-color: rgba(204, 202, 202, 0.089);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.toolsBottomAreaPcsPro {
  margin-top: 4px;
}
.toolsBottomAreaPcsLi {
  color: dimgrey;
}
.toolsBottomAreaPcsDr {
  color: #d4d4d4;
}
@media screen and (min-width : 730px){
  .redeyTextArea {
    display: none;
  }
  .redeyTextAreaK {
    display: none;
  }
  .redeyTextAreaKDr {
    display: none;
  }
}

.toolsBottomAreaPcs div{
  border: 0;
  padding: 5px;
  border-radius: 5px;
}
.llPcs {
  position: relative;
  font-size: 1rem;
  display: block;
}

.optionTolsJs {
  font-size: 18px;
  background-color: #bdd6d891;
  padding: 10px;
  border-radius: 4px;
  color: #383838;
}

.optionTolsJs div{
  cursor: pointer;
}

.titlePcsSec {
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #1687a7;
  color: #eee;
  margin-bottom: 10px;
  width: 30%;
  max-width: 170px;

}
.containerStartdProcs {
  padding: 15px;
  margin: 10px;
  margin-bottom: 0;
  border-radius: 5px;
  font-size: 19px;
  background-color: #eee;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.titleNameList {
  font-size: 20px;
  text-align: center;
  color: #3b3b3b;
}
.showHideList {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: #f3f3f3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.inputCheck {
  margin-right: 10px;
  border: none;
}

.textArea {
  padding: 10px;
}
.largFont {
  font-size: 20px !important;
}
.smallFont {
  font-size: 17px !important;
}
.secOntext {
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.mainTolsControl {
  border-radius: 3px;
  margin-top: 10px;
  overflow: hidden;
}
.mainTolsControlLi {
  background-color: #e8eae6;
}
.mainTolsControlDr {
  background-color: rgb(17, 28, 39);
}
.rtaWait {
  text-align: center;
  padding: 10px;
}
.rtaWaitLi {
  background-color: #eeeeee;
  color: #6b6966;
}
.rtaWaitDr {
  background-color: rgba(17, 28, 39, 0.658);
  color: #f1f1f1;
}
.rtaTitle {
  padding: 6px;
  font-size: 20px;
}
.rtaCon {
  font-size: 25px;
  padding-top: 7px;
}
.redeyTextAreaInf {
  margin-top: 10px;
  border-radius: 3px;
  overflow: hidden;
}
.stolsConSec {
  display: flex;
}
.TextAreaLi {
  background-color: #e8e8e8;
}
.TextAreaDr {
  background-color: rgb(17, 28, 39);
  color: #f3f3f3;
}
.redeyTextAreaInfTIT {
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
}
.stolsConSec div {
  padding: 14px;
}
.stolsCONTROLX{
  padding: 5px;
  padding-right: 8px;
}
.redeyTextAreaInfbody {
  background-color: #ebe9e9;
}
.icInfPrcs {
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  transition: 0.5s;
  color: #5a5a5a;
  background-color: #ced1d356;
}
.icInfPrcsTrue {
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  transition: 0.5s;
  color:#1687a7;
  background-color: #c6d2dace;
}
.casSett {
  padding: 5px 6px 5px 6px;
  cursor: pointer;
  transition: 0.5s;
}
.casSettHide {
  color: #1687a7;
  background-color: #d6dce4ce;
}
.casSettHideDr {
  color: #4bcbee;
  background-color: #5493bd83;
}
.casSettShow {
  color: #5a5a5a;
  background-color: #ced1d356;
}
.casSettShowDr {
  color: #eaecece3;
  background-color: #ced1d328;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
.textAreaBottomLogo , .textAreaBottom{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}
.seInfCurTable {
  display: flex;
}
.sictLi {
  padding: 10px;
  background-color: #c8cfd3a1;
  color: #3b3b3b;
  width: 100%;
}
.sictDr {
  padding: 10px;
  background-color: #3b4b5f5b;
  color: #eeeeee;
  width: 100%;
}
._scsinf {
  padding: 4px;
}
.tcontaorTabDr {
  padding: 1px;
  margin: 2px;
  border: 1px solid #313d47b9;
  border-radius:3px;
  overflow: hidden;
}
.tcontaorTab {
  padding: 1px;
  margin: 2px;
  border: 1px solid #cfd1d1b9;
  border-radius:3px;
  overflow: hidden;
}
.sictLiIc {
  padding: 10px;
  background-color: #c8cfd3a1;
  color: #0f5163;
}
.sictDrIc {
  padding: 10px;
  background-color: #1e2d3f;
  color: #3f8bb1;
}
.ddTableDr {
  background-color: rgb(22, 37, 51);
}
.ddTableLi {
  background-color: #e8e8e886;
} 
._listInfoDr {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.shMoTo {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #39afcf;
  border: 4px solid #8ac4d0;
  cursor: pointer;
  color: whitesmoke;
}
.shMoToTit {
  padding-left: 12px;
}
.nitfRen {
  display: flex;
  padding: 13px;
}
.powerPointBlue {
  background-color: #1ab8e8;
}
.powerPointBlueLi {
  background-color: #c3d3d8;
}
.powerPoint {
  border-radius: 1px;
  height: 6px;
  margin: 1px;
  width: 7px;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: initial;
  -webkit-font-smoothing: antialiased;
  color: rgba(0,0,0,0.87);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  text-size-adjust: 100%;
}
.niftT {
padding: 10px 4px 8px 10px;
font-size: 16px;
}
.noteWeInf {
  display: flex;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 5px;
}
.nift{
  background-color: #e1e7e9ec;
}
.dift{
  background-color: #2a3546;
  color: #e2e2e2;
}
._listInfoDr td {
  background-color: #344d5562;
  color: #eee;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfoDr th {
  background-color: #293a3fce;
  color: #eee;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfoDr tr:nth-child(even) {
  background-color: #293a3fce;
  color: whitesmoke;
}
._listInfo {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.infTableXDr {
  padding: 0 6px 2px 6px;
  background-color: #344d5536;
}
.infTableX {
  padding: 0 6px 2px 6px;
  background-color: rgba(228, 228, 228, 0.466);
}
.infTableDr {
  padding: 7px;
  border: 0;
  border-top: 1px solid #8586885d;
  color: #aaaaaa;
}
.infTable {
  padding: 7px;
  border: 0;
  border-top: 1px solid #cfd1d1b9;
  color: #505050;
}
._listInfo td {
  background-color: #d6d6d685;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfo th {
  background-color: #0b657e27;
  color: rgb(53, 55, 56);
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfo tr:nth-child(even) {
  background-color: rgb(255, 255, 255)
}
.faMinusDiv {
  min-width: 20%;
  margin: auto;
  background: #1190b3f5 !important;
  cursor: pointer;
}
.faMinusDivDr {
  min-width: 20%;
  margin: auto;
  background: #284c69 !important;
  cursor: pointer;
}
.faPlusDiv {
  min-width: 20%;
  margin: auto;
  cursor: pointer;
}
.faPlusDivDr {
  min-width: 20%;
  margin: auto; 
  cursor: pointer;
}
.faMinusDiv:hover {
  background: #3ca9c7  !important;
}
.faMinusDivDr:hover {
  background: #1687a7 !important;
}
.faPlusDiv:hover {
  background: #dedfdf !important;
}
.faPlusDivDr:hover {
  background: #1687a7 !important;
}
.faMinusi{
  font-size: 13px;
  color: #d1dbdb;
}
.faPlusi{
  font-size: 13px;
  color: #3b3b3bd5;
}
.faMinusiDr{
  font-size: 13px;
  color: #d1dbdb;
}
.faPlusiDr{
  font-size: 13px;
  color: #d1dbdb;
}

/* --- AAA --- */


.NotesInfoPage {
  padding: 14px;
  border: 0;
  background-color: #ffffff50;
}

.ccv_outPut {
  padding: 10px;
  text-align: right;
  background-color: #8ac4d0;
  color : #28527a;
  margin: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  direction: rtl;
}

.editeSections {
  background-color: #94b5c0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  color: #1c1c1d;
  padding: 10px;
}

.editeSectionsTr {
  background-color: #94c0b6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  color: #1c1c1d;
  padding: 10px;
  transition: 0.4s;
}

.textTUsers {
  margin: 10px;
  margin-right: 2px;
  direction: rtl;
}
.sectionEditeFromUser {
  background-color: #a1c7ca;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #494a4b;
  transition: 0.4s;
}
.sectionEditeFromUserF {
  background-color: #dfdfdf96;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #1967cc;
  transition: 0.4s;
}
.sectionEditeFromUser:hover {
  background-color: #bdd6d8;
  transition: 0.4s;
}
.textAreaBottom {
  display: flex;
  padding: 10px;
  padding-bottom: 2px;
}
.marNumEnMain {
  color: #1c1c1dab;
  background-color: #ffffff00;
  padding-right: 4px;
}
.marNumN {
  color: #1c1c1dab;
}
.marNumX {
  color: rgb(199, 32, 32);
}
.titleOverText {
  display: flex;
}
.oveTextWrong {
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
}
.icoTitleOverText {
  background-color: rgb(197, 115, 115);
  color: rgb(224, 200, 200);
  padding: 8px;
}
.textTitleOverText {
  background-color: rgb(224, 200, 200);
  width: 100%;
  padding: 8px;
}
.containerOverTextCovert {
  background-color:rgb(230, 219, 219);
  overflow-y: auto;
  position: relative;
  list-style-type: none;
  word-wrap: break-word; 
}
.containerOverText {
  padding : 10px;
  margin: auto;
  border: 5px;
}
.remoOveText {
  background-color: #f0f0f0c9;
  color: #cc1919;
  cursor: pointer;
  padding: 1px 2px 3px 2px;
  border-radius: 2px;
  transition: 0.4s;
}
.remoOveText:hover {
  background-color: #f0dbdbc9;
  color:#ee2e2e;
}
.sectionQuAsk {
  background: rgba(204, 202, 202, 0.089);
  margin: 10px 0 0 0;
  border: 1px solid #cecece;
  border-radius: 4px;
}
._sectionQuAskt {
  border : 0;
  border-bottom: 1px solid rgba(204, 202, 202, 0.089);
  background: rgba(204, 202, 202, 0.089);
}
.titleQuestions {
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.__titleQuestions{
  display: flex;
  justify-content:space-between;
}
.__titleQuestions div{
  padding: 10px;
}
.titleQuestionsSd {
  font-family: 'Comfortaa', cursive;
  padding: 10px;
  font-size: 11px;
}
.titleQuestionsSS {
  background: rgba(6, 51, 94, 0.863);
  font-size: 18px;
  text-align: center;
  color: #dddddd;
  min-width: 50px;
}
.titleMainQ {
  font-size: 18px;
}
.ooppAns {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  border : 0;
}

.itemDis__l {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  direction: rtl;
  justify-content: space-around;
  margin: auto;
  max-width: 800px;
}

.itemDis__nor{
  padding: 10px;
  border: 2px solid #cecece3b;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  color: #2b2e2e;
}

.itemDis__nor:hover{
  background-color: #cecece3b;
}

.itemDis__chor{
  padding: 10px;
  border: 2px solid #1688a76b;
  background-color: #1687a7;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  color: #eee
} 
.nnQuto {
  font-family: 'Comfortaa', cursive;
  font-size: 10px;
  color: #1687a7;

}
.contr__los_t__is_first {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
  margin-top: 15px;
}
.contr__los_t__is_rnd {
  background-color: rgba(204, 202, 202, 0.089);
  padding: 10px;
  font-size: 14px;
  margin-top: 14px;
}

.can_elT__re {
  color: #1a73e8;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
}
.can_elT__re:hover{
  background-color: rgba(233, 233, 233, 0.452);
}
.itmeM__l {
  display: flex;
  direction: rtl;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;

}
.itmeM__Title {
  color: #505a5ad8;
  padding: 10px;
  background-color: #eee;
  border-radius: 0 6px 6px 0;
  border-top: 2px solid #1688a73f;
  border-bottom: 2px solid #1688a73f;
  border-right: 2px solid #1688a73f;
  font-size: 18px;
}
.itmeM__lContainer input{
  color: #494a4b;
  background-color: #e8e8e800;
  padding: 10px;
  background-color:none;
  font-size: 18px;
  border-radius: 6px 0 0 6px;
  border-top: 2px solid #1688a73f;
  border-bottom: 2px solid #1688a73f;
  border-left: 2px solid #1688a73f;

}
.itmeM__lContainer input:hover {
  outline: 0;
}
.itmeM__lContainer input:focus {
  outline: 0;
}

.sendTure {
  padding: 10px;
  color: #57575780;
  cursor: not-allowed;
}
.sendTureST {
  padding: 10px;
  color: #1a73e8;
  cursor: pointer;
}
.errRed {
  color: red;
  text-align: center;
}
/*.conLisSp {
  padding: 6px;
}*/
.conLisCon {
  padding: 6px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.conLisConLi {
  background-color: #ebecee;
  border: 1px solid #e7e7e7;
}
.conLisConDr {
  background-color: #151e2cea;
  border: 1px solid #2a3546;
}
.conLisCrSxTi {
  display: flex;
}
.conLisCr{
  padding: 6px;
}
.conLisCrTiBLi {
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border-radius: 3px 0 0 0;
  background-color: #f0f0f0;
  font-size: 16px;
  color: #3b3b3b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conLisCrTiBDr {
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border-radius: 3px 0 0 0;
  background-color: #1a3341;
  color: #d1d1d1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.conLisCrTiALi {
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border-radius: 0 3px 0 0;
  background-color: #f0f0f0;
  font-size: 16px;
  color: #3b3b3b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conLisCrTiADr {
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  border-radius: 0 3px 0 0;
  background-color: #1a3341;
  color: #d1d1d1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.conLisCrTiT {
  background-color: #e7dec8;
  border: 1px solid #e7dec8;
  border-bottom: 0;
}
.conLisCrTiTDr {
  background-color: #2d4858;
  border: 1px solid #354661;
  border-bottom: 0;
}
.conLisCrCon {
  padding: 6px;
  border-radius:0 0 3px 3px;
  width: auto;
  max-width: 500px;
}
.conLisCrConLi {
  background-color: #e8e8e8;
  border: 1px solid #e7dec8;
}
.conLisCrConDr {
  background-color: #1d3041;
  border: 1px solid #354661;
}
.zxzWtext {
  width: auto;
  margin-top: 8px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.zWtext {
  margin: auto;
  margin-top: 8px;
  margin-bottom: 10px;
  width: fit-content;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.exchangeD {
  text-align: center;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #eeeeee;
  padding: 8px;
  color: #1588d4;
  border-radius: 2px;
}
.itpButomN {
  width: 96%;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
.titleInp {
  text-align: right;
  padding: 7px;
  width: 37% !important;
  width: fit-content;
  margin-right: 0px;
  border-radius: 4px 4px 0 0;
  font-size: 15px;
}
.titleInpLi {
  background-color: #f1f1f1;
}
.titleInpDr {
  background-color: #0a3b58;
  color: #d4d4d4;
}
.titleInpY {
  text-align: right;
  padding: 7px;
  width: 37% !important;
  width: fit-content;
  margin-right: 0px;
  border-radius: 4px 4px 0 0;
  font-size: 15px;
}
.titleInpYLi {
  background-color: #f9f7cf;
  color: #3b3b3b;
}
.titleInpYDr {
  background-color: #0a4658;
  color: #d4d4d4;
}
.borInpt {
  padding: 5px;
  border-radius: 2px 0 2px 2px;
}
.borInptLi {
  background-color: #f1f1f1;
}
.borInptDr {
  background-color: #0a3b589a;
}
.borInptDr input{
  color: #f3f3f3;
}
.borInptDr input::placeholder{
  color: #f3f3f3;
}
.borInptY {
  padding: 5px;
  border-radius: 2px 0 2px 2px;
}
.borInptYDr {
  background-color: #0a4658c4;
}
.borInptYDr input{
  color: #f3f3f3;
}
.borInptYDr input::placeholder{
  color: #f3f3f3;
}
.borInptYLi {
  background-color: #f9f7cf;
}

.inptText{
  margin: auto;
  justify-content: space-between;
  text-align: center;
}
.inptText input{
  padding: 10px;
  width: auto;
  background-color: #f6f5f585;
  border-radius: 2px;
}
.inptText input:focus{
  outline: none;
}
.itpButom {
  padding: 8px;
  width: 100%;
  border-radius: 3px;
  margin: auto;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.itpButomLi {
  background-color: #f2d974;
  color: whitesmoke;
  border: 2px solid #f1d6a0;
}
.itpButomDr {
  background-color: #244e70;
  color: whitesmoke;
  border: 2px solid #47587a;
}
.itpButomDr:focus {
  outline: none;
  background-color:#47587a;
}
.itpButomLi:focus {
  outline: none;
  background-color:#f1d6a0;
}

@media screen and (max-width : 600px){
  .zxzWtext{
    display: block;
    width: fit-content;
    margin: auto;
  }
  .inptText {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
/* -- Sec -- */
.xTbo {
  width: 100%;
  border-collapse:separate; 
  border-spacing: 0 0.5em;
  table-layout:fixed;
  overflow: hidden;
}
.xTbo td {
  padding: 10px;
  word-wrap: break-word; 
}
.xTbo th{
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  word-wrap: break-word; 
}
td.trdEx ,th.trdEx{
  border-radius: 3px 0 0 3px !important ;
  text-align: center;
  color: #58271f;
  cursor: pointer;
}
td.trdExDr ,th.trdExDr{
  border-radius: 3px 0 0 3px !important ;
  text-align: center;
  color: #d36161bd;
  cursor: pointer;
}
td.trfEx ,th.trfEx{
  border-radius:0 3px 3px 0!important ;
  width: 37% !important;
}
th.trsdEx {
  text-align: center;
}
td.edExTf {
  border: 0;
  border-right: 3px solid #cdd0cb;
}
td.edExTfDr {
  border: 0;
  border-right: 3px solid #3b5270;
}
td.deExTf {
  border: 0;
  border-right: 3px solid #d0cbcb;
}
td.deExTfDr {
  border: 0;
  border-right: 3px solid #795f54;
}
tr.edExcon{
  background-color: #e3e9e8;
}
tr.deExcon{
  background-color: #e9e3e3;
}
tr.edExconDr{
  color: #d4d4d4;
  background-color: #05293d5b;
}
th.trsdEx {
  text-align: center;
}
tr.deExconDr{
  color: #d4d4d4;
  background-color: #3521214d;
}
th.actEFe {
  text-align: center 
}
tr.edvEx {
  background-color: #f4f4f4;
  text-align: right;
  color: #5f5b50;
}
tr.edvExDr {
  background-color: #1a3341;
  text-align: right;
  color: #e9e9e9;
}
td.trdExX ,th.trdExX{
  border-radius: 3px 0 0 3px !important ;
  text-align: center;
  color: #cfd3d4;
}
td.trdExXDr ,th.trdExXDr{
  border-radius: 3px 0 0 3px !important ;
  text-align: center;
  color: #74757534;
}
td.edExC {
  text-align: center ;
  cursor: pointer;
  color: rgb(29, 102, 124);
}
td.edExCf {
  text-align: center ;
  cursor: pointer;
  color: rgb(82, 190, 219);
}
/* ---- TOLS CHOOSE ---- */

.tolsMainTextArea {
  display: flex;
}
.tolsMainTextArea div{
  padding-left: 10px;
}
.tolsDr {
  color: rgb(204, 204, 204) !important;
}
.tolsLi {
  color : #6a6c6d !important;
}
.tolsSecAreaPcs {
  display: flex;
}
.tolsSetText {
  display: flex;
  width: fit-content;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 7px;
}
.MainTolsSet {
  padding: 5px 8px 5px 8px;
  font-size : 16px;
  color: #434444;
  cursor : pointer;
  transition: 0.5s;
  background-color: #e6e6e6;
}
.MainTolsSetT {
  color: #1588d4;
}
.toolSetApi {
  padding: 5px;
  font-size : 16px;
  color: #727272;
  cursor : pointer;
  transition: 0.5s;
  border: 0;
  border-left: 1px solid #d4d4d4;
  padding-left: 7px;
  padding-right: 7px;
}
.toolSetApiT {
  padding: 5px;
  font-size : 16px;
  color : #1687a7;
  cursor : pointer;
  transition: 0.5s;
  border: 0;
  border-left: 1px solid #d4d4d4;
  padding-left: 7px;
  padding-right: 7px;
}
.toolSetApi:hover{
  color: #636262;
  background-color: #cacaca;
}
.containerTols {
  display: flex;
  background-color: #e7e7e7;
  padding-left: 3px;
}
.apiChose {
  padding: 5px;
  border-radius: 4px;
  color : #1687a7;
  font-size : 16px;
  cursor : pointer;
  transition: 0.5s;
}
.apiChoseUndo {
  padding: 5px;
  border-radius: 4px;
  color : #1687a7;
  font-size : 16px;
  cursor : pointer;
  transition: 0.5s;
  background-color: #a8b6cc18;
}
.apiChoseUndo:hover {
  color : #1588d4;
  background-color: #a8b6cc52;
}
.apiChoseTrash {
  padding: 5px;
  border-radius: 4px;
  color : #6a6c6d79;
  font-size : 16px;
  transition: 0.5s;
}
.apiChoseTrashT {
  padding: 5px;
  border-radius: 4px;
  font-size : 16px;
  transition: 0.5s;
  cursor : pointer;
}
.apiChoseTrashT:hover {
  background-color: #73879b1e;
  color : #1292e7a6;
}
.apiunChose {
  padding: 5px;
  border-radius: 4px;
  font-size : 16px;
  cursor : pointer;
  transition: 0.5s;
}
.apiunChose:hover {
  background-color: #73879b1e;
  color : #1292e7a6;
}
.apiunChoseQ {
  padding: 5px;
  border-radius: 4px;
  color : #6a6c6d5b;
  font-size : 16px;
  transition: 0.5s;
}
.apiBookMark {
  padding: 5px;
  border-radius: 4px;
  color : rgba(255, 187, 0, 0.705);
  font-size : 16px;
  transition: 0.5s;
  cursor: pointer;
}
.apiBookMark:hover{
  color : rgba(216, 159, 4, 0.705);
  background-color: #999a9b65;
}
.unapiBookMark {
  padding: 5px;
  border-radius: 4px;
  color : #6a6c6d;
  font-size : 16px;
  cursor : pointer;
  transition: 0.5s;
}
.unapiBookMark:hover{
  background-color: rgba(155, 155, 153, 0.396);
  color : #e7a412a6;
}
/* ---- END TOLS CHOOSE ---- */

.isWiteTextInput {
  position: relative;
  background-color: #e6e6e6;
  height: 20px;
  max-width: 170px;
  border-radius: 4px;
  text-align: center;
  color: #037696;
}

/*  ____ psh ____ */

.psh {
  margin-top: 15px;
  border-radius: 4px;
  padding: 7px;
  transition: 0.6s;
}
.pshH {
  background-color: #fdfdfd91;
}
.pshDr {
  background-color: #1b293691;
}
.psEcTitle {
  display: flex;
}
.pshContainer {
  border-top: 2px solid #f3f3f3;
  margin-top: 10px;
}

.pshContainerDr {
  border-top: 2px solid #465966;
  margin-top: 10px;
}
.psht_t {
  display: flex;
  padding: 6px;
  padding-top: 7px;
  border: 0;
  width: 100%;
  border-radius: 0 3px 3px 0;
}
.psht_tLi{
  background-color: #fafafa;
  color: #292929;
}
.psht_tDr{
  background-color: #1b293691;
  color: #faeae5;
}
.pshHS {
  padding: 6px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  width: 10%;
  max-width: 30px;
  border-radius: 3px 0 0 3px;
  margin-right: 10px;
  padding-left: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.pshHSLi {
  background-color: #fafafa;
  color: #9c9c9c;
}
.pshHSDr {
  background-color: #1b293662;
  color: #faeae5e1;
}
.areaControl {
  padding: 12px 6px 12px 6px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  width: 10%;
  max-width: 30px;
  border-radius: 4px;
  color: #9c9c9c;
  margin-right: 10px;
  padding-left: 16px;
  transition: 0.3s;
  cursor: pointer;
}
.pshHSLi:hover {
  background-color: #e7e7e7;
  color: #4d4d4d;
}
.pshHSDr:hover {
  background-color: #3e4f5f94;
  color: #e6e6e6;
}
.areaControl:hover {
  color: #4d4d4d;
}
.pshHSP {
  position: absolute;
  padding-top: 5px;
}
.pshHSPPlus {
  position: absolute;
  padding-top: 3px;
}
.pshHSD {
  position: absolute;
  margin-top: -3px;
}
.pshTitle {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
}
.clipboard {
  font-size: 17px;
  padding-right: 3px;
}
.pshCon {
  text-align: center;
  padding: 10px;
  color: rgba(41, 41, 41, 0.527);
}
.pshConDr {
  text-align: center;
  padding: 10px;
  color:#e7dec8;
}
.nPshOn {
  font-size: 18px;
  padding-top: 6px;
  color: rgb(110, 110, 110);
}
.nPshOnLogo {
  font-size: 27px;
  padding-top: 15px;
}
.hisSec {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%), 0 8px 16px rgb(0 0 0 / 4%);
  border-radius: 4px;
  margin-top: 17px;
}
.hisSecLi {
  background-color: #f7f7f7;
}
.hisSecDr {
  background-color: rgba(45, 68, 94, 0.445);
}
.hisTxo {
  display: flex;
}
.hisT {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.hisTLi {
  color: rgb(131, 131, 131);
  background-color: rgb(243, 243, 243);
}
.hisTDr {
  color : #e7dec8;
  background-color: rgb(52, 77, 105);
}
.hisTx {
  padding: 6px;
  font-size: 16px;
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
}
.hisTx:hover {
  color: rgb(98, 163, 189);
  background-color: #cbcece;
}
.hisTn {
  font-size: 18px;
  padding: 4px;
  color: #1a73e8;
}
.hisCon div{
  overflow-y: auto;
  position: relative;
  list-style-type: none;
  word-wrap: break-word; 
}
.hisOrg {
  padding: 4px;
  border: 0;
}

@media screen and (min-width : 700px){
  .hisCon {
    display: flex;
    justify-content: space-between;
  }
  .hisOrg  {
    width: 50%;
  }
}
.laHisIn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.titleHisNam {
  padding: 8px;
  background-color: #8c88fa;
  color: #edeef7;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.conHisNam {
  padding: 8px;
  color: #383838;
}
.conHisNamDr {
  padding: 8px;
  color: #dfdfdf;
  background-color: #2a3546;
}
.dLaHisIn {
  padding: 8px;
  background-color: #e2e2e2;
  font-size: 22px;
  border-radius: 0 5px 5px 0;
  color: rgb(5, 71, 109);
  width: 20px;
  text-align: center;
}
.dLaHisInp {
  background-color: #f1f1f1;
  font-size: 17px;
  border-radius: 5px 0  0 5px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
.dLaHisInp:focus{
  outline: none;
  border: 3px solid #3993cf7c;
}
.infPsh {
  padding: 8px;
  margin: 5px;
  border-radius: 3px;
  font-size: 15px;
  width: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.infPshLi {
  background-color: #f4f9f9;
}
.infPshDr {
  background-color: #465966;
  color: #dddddd;
}
._bRed {
  background-color: rgba(245, 167, 153, 0.863);
  color: brown;
}
.sict_text {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.deWor {
  padding-left: 3px;
  padding-right: 3px;
  color: #aa2b1d;
  background-color: #faeae5;
  border-bottom: 1px solid rgba(192, 86, 79, 0.5);
}
.olWor {
  padding-left: 3px;
  padding-right: 3px;
  color: #777900;
  background-color: #f1f0de;
  border-bottom: 1px solid rgba(190, 192, 79, 0.5);
}
.oneWor {
  padding-left: 3px;
  padding-right: 3px;
  color: #007973;
  background-color: #def1ef;
  border-bottom: 1px solid rgba(79,192,141,0.5);
}
/* info input */
.textAreaInf ,.textAreaInfDr {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse !important;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 7%);
}
.textAreaInf tr ,.textAreaInfDr tr{
  width: 50%;
  text-align: right;
  padding: 10px;
}
.textAreaInf td ,.textAreaInf th ,.textAreaInfDr td,.textAreaInfDr th{
  padding: 8px;
}
.textAreaInf th {
  border: 0;
  border-bottom: 1px solid #dddddd;
}
.textAreaInfDr th{
  border: 0;
  border-bottom: 1px solid rgba(26, 51, 100, 0.466);
}
.tfTbTh {
  padding-bottom: 14px;
  padding-right: 7px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tdInfA {
  color: #1a73e8;
  text-align: center;
  background-color: #e8e8e8;
}
.tdInfADr {
  color: #1a73e8;
  text-align: center;
  background-color: rgba(204, 202, 202, 0.089);
}
.tdInfB {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.texInfTabLi {
  background-color: rgba(238, 237, 237, 0.877);
  color: #3b3b3b;
}
.texInfTabDr {
  background-color: rgb(17, 28, 39);
  color: #eeeeee;
}
.errTextArea {
  background-color: rgba(238, 237, 237, 0.877);
  padding: 10px;
  list-style-type: none;
  word-wrap: break-word;
  width: 90% !important;
  margin: auto !important;
  border-radius: 4px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.listErrInfo {
  width: 70% !important;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(238, 237, 237, 0.877);
  padding: 10px;
  border-radius: 4px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ulErr {
  margin-top: 5px;
}
.wrongMessLis {
  background-color: #d3e0ea;
  padding: 10px;
  max-width: 90%;
  width: fit-content;
  margin: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  border-radius: 4px;
  color: #383838;
}
.nullTextArea {
  font-size: 18px !important;
  padding-left: 6px;
  padding-right: 6px;
}
.secAdsInfo {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  overflow: hidden;
}
.secAdsInfoIco {
  padding: 7px;
  font-size: 13px !important;
  padding-top: 15px;
}
.secAdsInfoCon {
  padding: 7px;
  font-size: 15px;
}
.secAdsInfo .secAdsInfoIco{
  background-color:rgb(199, 203, 207);
  color:#35383a;
}
.secAdsInfo .secAdsInfoCon {
  background-color:rgb(222, 225, 228);
  color:#35383a;
}
.secAdsInfoDr .secAdsInfoIco{
  background-color: #244e70;
  color: rgb(154, 170, 187);
}
.secAdsInfoDr .secAdsInfoCon {
  background-color: #1d415f;
  color: rgb(154, 170, 187);
}
.botoAdsMapDr {
  background-color: #24394b;
  color: rgb(208, 215, 223);
  border-radius: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botoAdsMap {
  background-color:rgb(222, 225, 228);
  color:#35383a;
  border-radius: 3px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.botoMApSec {
  padding: 11px;
  margin-top: 10px;
}
.caseAttrAds {
  font-style: italic !important;
  padding-right: 5px;
  font-size: 12px;
}
.showDitAds {
  color: #28527a;
  padding-right: 3px;
  font-size: 12px;
  cursor: pointer;
}
.secDiSh {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
}
.namDiSh {
  padding-left: 3px;
}
.vamDiSh {
  padding-right: 10px;
}
.showDitAdsA {
  color: #297ac7;
  padding-right: 3px;
  font-size: 15px;
  cursor: pointer;
  padding: 2px;
}
/*  SP  */
.loader,
.loader:after {
  border-radius: 50%;
}
.donCpu {
  position: relative;
  color: #1588d467;
  padding: 5px;
  border-radius: 4px;
  font-size: 14.5px;
  transition: 0.8s;
}
.loader {
  color: #1588d4;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 .7s infinite linear;
  transition: 0.3s;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End */