@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

.headerMenu {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header {
  padding: 20px;   
  border-bottom: 2px solid #cedddf00;
  transition: 0.4s;
}
.headerNight {
  background-color:  #f7f7f7;
  transition: 0.4s;
}
.headerDark {
  background-color:  rgb(17, 28, 39);
  transition: 0.4s;
}
.sha {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.089);
}

.header_main {
  display: flex;
  justify-content: space-between;
}

.logo_text {
  display: flex;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
}
.logo_textN {
  color: #1687a7;
}
.logo_textD {
  color: #3aaccc;
}
.net_logo {
  color: #30475e;
}
.net_logoD {
  color: #1687a7;
}

.conProcesen {
  padding-top: 90px;
  padding-bottom: 10px;
  background-color: #dddddd5d;
}
.defProcesen {
  display: flex;
  margin: 0 17px 0 17px;
  border-radius: 2px;
  padding: 0 10px 0 0;
  background-color: #f6f6f6;
}
.defText {
  padding: 10px 0 10px 10px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.defText b{
  font-weight: 420;
}
.defText a{
  color: #537ceb;
}
.defTextProce {
  color: #2d8ba5;
}
.defTextSen {
  color: #3ac2cc;
}
.defImgIco {
  padding: 10px 10px 10px 10px;
  background-color: #f6f6f6;
  border: 0;
  border-right: 1px solid #ecf0f1;
}
.Pprocessing{
  color: #1687a7;
}
.Psentence{
  color: #30475e;
}
.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 2px;
}

.bar1, .bar2, .bar3 {
  width: 23px;
  height: 3px;
  margin: 4px 0;
  transition: 0.4s;
  border-radius: 3px;
}
.barDark {
  background-color: #c8cbce;
}
.barLight {
  background-color: #494a4b;
}
.change  {
  margin-top: 2px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 2px);
  transform: rotate(-45deg) translate(-5px, 4px);
  background-color:#30475e;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-6px, -5px);
  background-color: #1687a7;
}

.menuMainTols{
  display: inline-block;
  transition: 0.1s;
}
.sectionsNavFlex {
  display: flex;
}
.sectionsNavFlex div{
  margin-right: 15px;
  cursor: pointer;
}
.container_log {
  margin-left: -40px;
}
.langChose {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: auto;
  margin-top: 25px;
}

.langChose div{
  padding: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  background-color: #cfcdcd18;
  color: #3b3b3b;
  width: 100px;
  text-align: center;
  display: inline-block;
  transition: 0.4s;
}

.thisLangItem {
  background-color: #3f78b186 !important;
  color: #eeeeee !important;
  cursor: auto  !important;
}
.langChose div:hover{
  background-color: #6faeece1;
  color: #eeeeee ;
}

.thisLangItem:hover{
  background-color: #3f78b186 !important;
  color: #eeeeee !important;
  cursor: auto  !important;
}

.navMain {
  width: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  max-width: 500px;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.secTopHeader {
  display: grid;
  margin: auto;
  justify-content: center;
  grid-template-columns: auto auto;
  border-radius: 4px;
  overflow: hidden;
  padding: 4px 4px 10px 4px;
  background-color: #edeef7;
  margin-bottom: 10px;
  justify-content: space-around;
}
._soceLi {
  background-color: #eeeeee;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
  margin-top: 5px;
  border-radius: 4px;
  overflow: hidden;
}
._soceLi  div,i{
  min-width: 30px;
}
._face {
  background-color: #3B5998;
  color: #f2f2f2;
  padding: 8px;
}
._twit {
  background-color: #55ACEE;
  color: #f2f2f2;
  padding: 8px;
}
._lin {
  background-color: #606470;
  color: #f2f2f2;
  padding: 8px;
  cursor: pointer;
}
.__email {
  background-color: #c15050;
  color: #f2f2f2;
  padding: 8px;
}
.secTopHeader a.secHh{
  text-align: center;
  margin: 1px;
  padding: 8px;
  text-decoration: none;
}
.scb {
  border: 0;
  border-bottom: 2px solid #1687a7;
  color: #3b3b3b;
}
.scw {
  border: 0;
  border-bottom: 2px solid #30475e;
  color: #3b3b3b;
}
.supUs {
  color:green;
}
.sopThisCon {
  display: flex;
  justify-content: center;
  direction: ltr;
  overflow: hidden;
  border-radius: 2px;
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}
.copThis {
  margin-top: 10px;
}
.sopThisCon div {
  padding: 6px;
}
.icoCopThis i{
  font-size: 15px;
  color: whitesmoke;
}
.icoCopThis {
  background-color: rgb(167, 167, 167);
}
.LiCopThis {
  background-color: #c8cbce;
  padding-right: 18px !important;
}