.MainProcsent {
  padding: 5px;
}
.MainProcsentSec {
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
.titlePcs {
  font-size: 17px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 3px;
  display: flex;
  margin-left: auto;
  overflow: hidden;
}
.redeyTextAreaLight {
  background-color:#e7e7de;
  color: #353027;
}
.redeyTextAreaDark {
  background-color:rgb(22, 37, 51);
  color: #d3d3d2;
}
.inforedeyTextArea {
  padding: 10px;
  width: 30%;
  max-width: 6px;
  background-color: #353027a4;
  font-size: 14px;
}
.inforedeyTextAreaDr {
  padding: 10px;
  width: 30%;
  max-width: 6px;
  background-color: rgba(6, 51, 94, 0.863);
  font-size: 14px;
}
.titleTextArea {
  padding: 10px;
}
.titleTextArea a{
  font-size: 13px;
}
.redeyTextAreaK{
  background-color:#bbd2d8dc;
  color: #2b2e2e;
}
.redeyTextAreaKDr {
  background-color: rgb(22, 37, 51);
  color: whitesmoke;
}
.icInfredeyTextArea {
  color: #d4d4d4;
}
.InfredeyTextAreaK {
  padding: 10px;
  width: 30%;
  max-width: 6px;
  background-color: #1687a7;
  color: #dadbdb;
  font-size: 14px;
}
.areaPcP:focus {
  outline: none;
}
.areaPlus{
  font-size: 18px;
  color: #383838;
}
.toolsMenuAreaPcs {
  border: 0;
  border-bottom: 1px solid rgba(204, 202, 202, 0.356);
  padding: 2px 0 8px 0;
  display: flex;
  justify-content: space-between
}
.toolsBottomAreaPcs {
  border: 0;
  border-top: 1px solid rgba(204, 202, 202, 0.356);
  background-color: rgba(204, 202, 202, 0.089);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.toolsBottomAreaPcsPro {
  margin-top: 4px;
}

@media screen and (min-width : 730px){
  .redeyTextArea {
    display: none;
  }
  .redeyTextAreaK {
    display: none;
  }
  .redeyTextAreaKDr {
    display: none;
  }
}

.toolsBottomAreaPcs div{
  border: 0;
  padding: 5px;
  border-radius: 5px;
  color: dimgrey;
}
.llPcs {
  position: relative;
  font-size: 1rem;
  display: block;
}

.optionTolsJs {
  font-size: 18px;
  background-color: #bdd6d891;
  padding: 10px;
  border-radius: 4px;
  color: #383838;
}

.optionTolsJs div{
  cursor: pointer;
}

.titlePcsSec {
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  background-color: #1687a7;
  color: #eee;
  margin-bottom: 10px;
  width: 30%;
  max-width: 170px;

}
.containerStartdProcs {
  padding: 15px;
  margin: 10px;
  margin-bottom: 0;
  border-radius: 5px;
  font-size: 19px;
  background-color: #eee;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.chooseListProcs {
  padding: 15px;
  border-radius: 5px;
  grid-column: auto auto;
}
.titleNameList {
  font-size: 20px;
  text-align: center;
  color: #3b3b3b;
}
.listProcs {
  display: grid;
  grid-template-columns:  auto auto;
  justify-content: space-around;
  margin-top: 10px;
}
@media screen and (min-width: 800px) {
  .listProcs {
    display: grid;
    grid-template-columns:  auto auto auto auto;
    justify-content: space-around;
    margin-top: 10px;
  }
}
@media screen and (max-width: 340px) {
  .listProcs {
    display: grid;
    grid-template-columns:  auto;
    justify-content: space-around;
    margin-top: 10px;
  }
}
.showHideList {
  display: flex;
  justify-content: center;
  font-size: 16px;
  background-color: #f3f3f3;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.checkBoxLestChoo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff59;
  margin: 10px;
  border-radius: 20px;
  max-width: 150px;
  font-size: 17px;
  color: #3b3b3b;
  cursor: pointer;
}
.checkBoxLestChooTrue {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #105ceb59;
  margin: 10px;
  border-radius: 20px;
  max-width: 150px;
  font-size: 17px;
  color: #383838;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.068), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
}
.inputCheck {
  margin-right: 10px;
  border: none;
}

.textArea {
  padding: 10px;
}

.secOntext {
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 0px;
}

.mainTolsControl {
  border-radius: 3px;
  margin-top: 10px;
  overflow: hidden;
}
.mainTolsControlLi {
  background-color: #e8eae6;
}
.mainTolsControlDr {
  background-color: rgb(17, 28, 39);
}

.headerTolsMain {
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.heinLi {
  background-color: #e8e8e8;
  border-left: 4px solid #3b3b3b;
  
}
.heinDr {
  background-color: rgb(17, 28, 39);
  border-left: 4px solid rgb(22, 37, 51);
  color: #f3f3f3;
  
}
.redeyTextAreaInf {
  margin-bottom: 10px;
  border-radius: 3px;
  overflow: hidden;
}
.TextAreaSDr {
  border-left: 4px solid rgb(22, 37, 51);
}
.TextAreaSLi {
  border-left: 4px solid #3b3b3b;
}
.TextAreaLi {
  background-color: #e8e8e8;
}
.TextAreaDr {
  background-color: rgb(17, 28, 39);
  color: #f3f3f3;
}
.redeyTextAreaInfTIT {
  font-size: 18px;
  font-family: sans-serif;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.redeyTextAreaInfbody {
  background-color: #ebe9e9;
}
.stolsCONTROL{
  padding: 5px;
}
.icTolsSett {
  font-size: 16px;
}
.icInfPrcs {
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  transition: 0.5s;
  color: #5a5a5a;
  background-color: #ced1d356;
}
.icInfPrcsTrue {
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  transition: 0.5s;
  color:#1687a7;
  background-color: #c6d2dace;
}
.casSett {
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.casSettHide {
  color: #1687a7;
  background-color: #c6d2dace;
}
.casSettHideDr {
  color: #39afcf;
  background-color: #c6d2da2f;
}
.casSettShow {
  color: #5a5a5a;
  background-color: #ced1d356;
}
.casSettShowDr {
  color: #eaecece3;
  background-color: #ced1d328;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
.textAreaBottomLogo , .textAreaBottom{
  font-family: 'Comfortaa', cursive;
  font-size: 13px;
}
.ddTable {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ddTableDr {
  background-color: rgb(22, 37, 51);
}
.ddTableLi {
  background-color: #e8e8e886;
} 
._listInfoDr {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 97%;
  margin: auto;
  border-radius: 6px;
  overflow: hidden;
}

._listInfoDr td {
  background-color: #344d5562;
  color: #eee;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfoDr th {
  background-color: #293a3fce;
  color: #eee;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfoDr tr:nth-child(even) {
  background-color: #293a3fce;
  color: whitesmoke;
}
._listInfo {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 97%;
  margin: auto;
  border-radius: 6px;
  overflow: hidden;
}

._listInfo td {
  background-color: #f5f5f58e;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfo th {
  background-color: #037696;
  color: #eee;
  text-align: left;
  padding: 8px;
  text-align: center;
}
._listInfo tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
.faMinusDiv {
  min-width: 20%;
  margin: auto;
  background: #1687a7 !important;
  cursor: pointer;
}
.faMinusDivDr {
  min-width: 20%;
  margin: auto;
  background: #284c69 !important;
  cursor: pointer;
}
.faPlusDiv {
  min-width: 20%;
  margin: auto;
  background: #f2f3f3f5 !important;
  cursor: pointer;
}
.faPlusDivDr {
  min-width: 20%;
  margin: auto; 
  background-color: #293a3fce !important;
  cursor: pointer;
}
.faMinusDiv:hover {
  background: #379db9 !important;
}
.faMinusDivDr:hover {
  background: #1687a7 !important;
}
.faPlusDiv:hover {
  background: #dedfdf !important;
}
.faPlusDivDr:hover {
  background: #1687a7 !important;
}
.faMinusi{
  font-size: 13px;
  color: #d1dbdb;
}
.faPlusi{
  font-size: 13px;
  color: #3b3b3bd5;
}
.faMinusiDr{
  font-size: 13px;
  color: #d1dbdb;
}
.faPlusiDr{
  font-size: 13px;
  color: #d1dbdb;
}

/* --- AAA --- */


.NotesInfoPage {
  padding: 14px;
  border: 0;
  background-color: #ffffff50;
}

.ccv_outPut {
  padding: 10px;
  text-align: right;
  background-color: #8ac4d0;
  color : #28527a;
  margin: 10px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  direction: rtl;
}

.editeSections {
  background-color: #94b5c0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  color: #1c1c1d;
  padding: 10px;
}

.editeSectionsTr {
  background-color: #94c0b6;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  color: #1c1c1d;
  padding: 10px;
  transition: 0.4s;
}

.textTUsers {
  margin: 10px;
  margin-right: 2px;
  direction: rtl;
}
.sectionEditeFromUser {
  background-color: #a1c7ca;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #494a4b;
  transition: 0.4s;
}
.sectionEditeFromUserF {
  background-color: #dfdfdf96;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #1967cc;
  transition: 0.4s;
}
.sectionEditeFromUser:hover {
  background-color: #bdd6d8;
  transition: 0.4s;
}
.textAreaBottom {
  display: flex;
  padding: 10px;
  padding-bottom: 2px;
}
.marNumEnMain {
  color: #1c1c1dab;
  background-color: #ffffff00;
  padding-right: 4px;
}
.marNumN {
  color: #1c1c1dab;
}
.marNumX {
  color: rgb(199, 32, 32);
}
.titleOverText {
  display: flex;
}
.oveTextWrong {
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
}
.icoTitleOverText {
  background-color: rgb(197, 115, 115);
  color: rgb(224, 200, 200);
  padding: 8px;
}
.textTitleOverText {
  background-color: rgb(224, 200, 200);
  width: 100%;
  padding: 8px;
}
.containerOverTextCovert {
  background-color:rgb(230, 219, 219);
  overflow-y: auto;
  position: relative;
  list-style-type: none;
  word-wrap: break-word; 
}
.containerOverText {
  padding : 10px;
  margin: auto;
  border: 5px;
}
.remoOveText {
  background-color: #f0f0f0c9;
  color: #cc1919;
  cursor: pointer;
  padding: 1px 2px 3px 2px;
  border-radius: 2px;
  transition: 0.4s;
}
.remoOveText:hover {
  background-color: #f0dbdbc9;
  color:#ee2e2e;
}
.sectionQuAsk {
  background: rgba(204, 202, 202, 0.089);
  margin: 10px 0 0 0;
  border: 1px solid #cecece;
  border-radius: 4px;
}
._sectionQuAskt {
  border : 0;
  border-bottom: 1px solid rgba(204, 202, 202, 0.089);
  background: rgba(204, 202, 202, 0.089);
}
.titleQuestions {
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.__titleQuestions{
  display: flex;
  justify-content:space-between;
}
.__titleQuestions div{
  padding: 10px;
}
.titleQuestionsSd {
  font-family: 'Comfortaa', cursive;
  padding: 10px;
  font-size: 11px;
}
.titleQuestionsSS {
  background: rgba(6, 51, 94, 0.863);
  font-size: 18px;
  text-align: center;
  color: #dddddd;
  min-width: 50px;
}
.titleMainQ {
  font-size: 18px;
}
.ooppAns {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  border : 0;
}

.itemDis__l {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  direction: rtl;
  justify-content: space-around;
  margin: auto;
  max-width: 800px;
}

.itemDis__nor{
  padding: 10px;
  border: 2px solid #cecece3b;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  color: #2b2e2e;
}

.itemDis__nor:hover{
  background-color: #cecece3b;
}

.itemDis__chor{
  padding: 10px;
  border: 2px solid #1688a76b;
  background-color: #1687a7;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  color: #eee
} 
.nnQuto {
  font-family: 'Comfortaa', cursive;
  font-size: 10px;
  color: #1687a7;

}
.contr__los_t__is_first {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
  margin-top: 15px;
}
.contr__los_t__is_rnd {
  background-color: rgba(204, 202, 202, 0.089);
  padding: 10px;
  font-size: 14px;
  margin-top: 14px;
}

.can_elT__re {
  color: #1a73e8;
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
}
.can_elT__re:hover{
  background-color: rgba(233, 233, 233, 0.452);
}
.itmeM__l {
  display: flex;
  direction: rtl;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;

}
.itmeM__Title {
  color: #505a5ad8;
  padding: 10px;
  background-color: #eee;
  border-radius: 0 6px 6px 0;
  border-top: 2px solid #1688a73f;
  border-bottom: 2px solid #1688a73f;
  border-right: 2px solid #1688a73f;
  font-size: 18px;
}
.itmeM__lContainer input{
  color: #494a4b;
  background-color: #e8e8e800;
  padding: 10px;
  background-color:none;
  font-size: 18px;
  border-radius: 6px 0 0 6px;
  border-top: 2px solid #1688a73f;
  border-bottom: 2px solid #1688a73f;
  border-left: 2px solid #1688a73f;

}
.itmeM__lContainer input:hover {
  outline: 0;
}
.itmeM__lContainer input:focus {
  outline: 0;
}

.sendTure {
  padding: 10px;
  color: #57575780;
  cursor: not-allowed;
}
.sendTureST {
  padding: 10px;
  color: #1a73e8;
  cursor: pointer;
}
.errRed {
  color: red;
  text-align: center;
}

/* ---- TOLS CHOOSE ---- */

.tolsMainTextArea {
  display: flex;
}
.tolsMainTextArea div{
  padding-left: 10px;
}

.apiChose {
  padding: 5px;
  border-radius: 4px;
  color : #1687a7;
  font-size : 16px;
  cursor : pointer;
  transition: 0.5s;
}
.apiChoseTrash {
  padding: 5px;
  border-radius: 4px;
  color : #6a6c6d79;
  font-size : 16px;
  transition: 0.5s;
}
.apiChoseTrashT {
  padding: 5px;
  border-radius: 4px;
  color : #6a6c6d;
  font-size : 16px;
  transition: 0.5s;
  cursor : pointer;
}
.apiChoseTrashT:hover {
  background-color: #999a9b65;
  color : #3b3b3b;
}
.apiunChose {
  padding: 5px;
  border-radius: 4px;
  color : #6a6c6d;
  font-size : 16px;
  cursor : pointer;
  transition: 0.5s;
}
.apiunChose:hover {
  background-color: #999a9b65;
  color : #3b3b3b;
}

.apiMoon {
  color: #1687a7;
  font-size: 16px;
  transition: 0.5s;
  padding: 5px;
  cursor: pointer;
}

.apiMoonFoucs {
  color:  rgb(223, 180, 39);
  font-size: 16px;
  transition: 0.5s;
  padding: 5px;
  cursor: pointer;
}


/* ---- END TOLS CHOOSE ---- */