
.information {
  border: 0;
}
.about_info {
  padding: 10px;
  background-color: #ececec;
}
.prolognet_info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #b8b6b6;
  font-family: 'Tajawal', sans-serif;
  border: 0;
  direction: rtl;
  border-top: 5px solid  #55ACEE;
  background-color: #0c7d9c;
}

.prolog_about {
  background-color: #1688a700;
  color: #1687a7;
}

.mainInfoAbout {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
  background-color:  #f5f5f5e1;
  border-radius: 4px;
  border: 0;
}

.mainInfoAbout div{
  padding: 3px;
  cursor: pointer;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.container:hover , .container:hover{
  outline: 0;
}
.infoDirPage {
  font-family: 'Cairo', sans-serif;
  transition: 0.2s;
}

.infoDirPage:hover{
  font-family: 'Cairo', sans-serif;
  border: 0;
  transition: 0.2s;
}
.socialInfoAbout i{
  color: #383838;
  cursor: pointer;
  transition: 0.2s;
}
.socialInfoAbout i:hover{
  color: #1687a7;
  cursor: pointer;
  transition: 0.2s;
}

.logoInfoAr {
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  margin-top: -4px;
}
.fa {
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  color: #3B5998;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-linkedin {
  color: #007bb5;
}
.fa-google {
  color: #dd4b39;
}