* {
  margin: 0;
  padding: 0;
  border: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
.bodyDivs {
  padding-top : 100px;
  background-color: #dddddd5d;
}

.infoStart {
  padding: 10px;
  padding-top: 0;
}

.infoStartP {
  padding: 10px;
  padding-bottom: 0;
}

.titleThisPage {
  margin: 10px;
  border: 1px solid #cacbcc;
  border-radius: 6px;
  overflow: hidden;
}

.thisTitlePage_first {
  background-color: #f7f7f7;
  padding: 10px;
  padding-bottom: 0;
}

.titleMain {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
  border: 0;
  border-bottom: 1px solid #494a4b65;
}

.thisTitlePage_seconed {
  background-color: #fdfdfd85;
  padding: 10px;
}
.sendCommitn {
  display: flex;
}

.socialInfoAbout {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 20px;
  max-width: 600px;
  margin: auto;
}
.cancelSendNote {
  background-color: #eee;
  padding: 5px;
  width: 50px;
  text-align: center;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  color: #494a4b;
}

.cancelSendNote:hover {
  background-color: rgb(245, 245, 245);
  color: #494a4ba4;

}

.sendCommitn {
  padding-top: 10px;
  font-size: 14px;
}

input.inputInf {
  padding : 15px;
  width: 90%;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.527);

}

input.inputInf:focus {
  outline: 0;
}
.textarea:focus {
  outline: none;
}

.entserSendThin {
  padding : 7px;
  width: 80%;
  font-size: 18px;
  color: #e4e4e4;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.textSp {
  border: 0;
  padding: 5px;
  color: #3b3b3b;
}

.textCon  {
  padding: 5px;
  color: #3b3b3b;
}
/* FONTS */

.title_ar {
  font-size: 20px;
}
.ar_text{
  direction: rtl;
}
.containerNotes_ar {
  font-size: 18px;
}

.container_sp_ar {
  font-size: 15px;
}

.container_ar {
  font-size: 17px;
}
.messArabic {
  font-size: 16px;
  text-align: right;
}
.__desInfoContainerMAin {
  display: flex;
  margin: 10px;
  width: 90%;
  max-width: 800px;
}
.__desInfoContainerMAin div{
  padding: 13px 10px 13px 10px;
}
